.content1 {
    background-image: url(#);
    max-width: 1440px;
    height: 750px;
    margin: 10px auto;
    position: relative;

    h3 {
        color: #CC9900;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        font-family: 'Yeseva One';
        position: absolute;
        top: 103px;
        left: 185px;
    }

    .content_q1 {
        position: absolute;
        top: 163px;
        width: 131px;
        height: 23px;
    }

    .title {
        position: absolute;
        top: 103px;
        left: 185px;
    }

    .content_intes1 {
        width: 50%;
    }

    .content_intes2 {
        width: 50%;
    }

    p {
        position: absolute;
        width: 471px;
        height: 141px;
        left: 154px;
        top: 202px;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        text-align: center;
        color: #4C4C4C;
    }
    .title2 {position: absolute;
        width: 289px;
        height: 292px;
        left: 295px;
        top: 359px;
    }
    .title3 {position: absolute;
        width: 630px;
        height: 551px;
        left: 775px;
        top: 99px;
    width: 630px;
width: 551px;
} 
}