.menu {
    max-width: 1440px;
    height: 1174px;
    margin: 10px auto;
  position: relative;
}
.menu1 {width: 50%;
margin: 100px 60px;}
.menu2 {width: 50%;
    margin: 100px 60px;}
.strav1 {margin-top: 35px;
    padding: 10px 15px  35px 15px;
    width: 470px;
    font-weight: 400;
font-size: 25px;
line-height: 36px;
color: #C89F2D;
font-family: 'Yeseva One';
position: relative;
border: #C89F2D 1px solid;
.dol {position: absolute;
right:  10px;
font-weight: 400;
font-size: 21px;
line-height: 36px;
}
p {position: absolute;
    top: 55px;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #4C4C4C;}

}
.strav2 {margin: 35px 0;
    width: 470px;
    font-weight: 400;
font-size: 25px;
line-height: 36px;
color: #C89F2D;
font-family: 'Yeseva One';
position: relative;


}

// https://www.figma.com/file/KbmmLL6Wl9H0938LwOzAT9TX/Restorant?node-id=13%3A2&t=KbB2Vuipp4ykxBcs-0